In [1]:
import pandas as pd
from datetime import datetime
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}


df = pd.DataFrame(data)


print(df)

ModuleNotFoundError: No module named 'pandas'

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.1-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\avinash\downloads\my projects\machine learning projects\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\avinash\downloads\my projects\machine learning projects\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.6 MB 14.7 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.6 MB 17.5 MB/s eta 0:00:01
   ------------------------------------- -- 11.0/11.6 MB 19.6 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 18.6 MB/s eta 0:00:00
Downloading numpy-2.2.1-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   --------- ------------------------------ 3.1/12.9 MB 18.5 MB/s eta 0:00:01
   -------------- ------------------------- 4.7/12.9 MB 13.0 MB/s eta 0:00:01
   ------------------ --------------------- 6.0/12.9 MB 11.2 MB/s eta 0:00:01
   ----------------------- ---------------- 7.6/12.9 MB 8.7 MB/s eta 0:00:01
   -------------------------- ------------- 8.7/12.9 MB 8.0 MB/s eta 0:00:01
   ------------------------------- -------- 10.2/12.9 MB 8.0 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 8.6 MB/s eta 0:00:00
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [3]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}


df = pd.DataFrame(data)
df
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
df['Age']

0    25
1    30
2    35
Name: Age, dtype: int64

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df["number"] = ["365", "456", "369"]

In [7]:
df

      Name  Age         City number
0    Alice   25     New York    365
1      Bob   30  Los Angeles    456
2  Charlie   35      Chicago    369